apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: app1 
  labels:
    app: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: app-container
        image: saeedgebaly/app
        ports:
        - containerPort: 8080
        imagePullPolicy: Always